{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "arrow-body-style": ["error", "never"],
    "react/forbid-prop-types": [1, { "forbid": [<string>] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
